/* TODO I'm not 100% sure this tailwind normalization isn't messing with nebulas styles */
@tailwind base;
@tailwind components;

#nebula-watcher-app {
  z-index: 100;
  .app-trigger {
    @apply bg-white bottom-0 fixed flex items-center justify-center m-2 p-2 right-0 rounded-full shadow;
    cursor: pointer;
    width: 3rem;
  }
  .modal {
    @apply fixed inset-0;
    z-index: 100;
    .modal-mask {
      @apply absolute bg-gray-500 inset-0;
      --tw-bg-opacity: 0.5;
    }
    .modal-content {
      @apply absolute bg-white max-w-full max-h-full p-4 rounded;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}